
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<% @farmlands.each_with_index do |farm, i| %>

  <div class="panel panel-default">
		<div class="accordion">
	    <div class="panel-heading" role="tab" id="heading<%=translate_number(i)%>">
	      <h2 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=translate_number(i)%>" 
	        	aria-expanded="false" 
	        	aria-controls="collapse<%=translate_number(i)%>" class="collapsed" style="display: block;">
	          <strong><%=farm.name%></strong>
	        </a>
	      </h2>
	      <br>
	      <div>
	      	<%=farm.product%>
	      </div>
	    </div>
		</div>

    <div id="collapse<%=translate_number(i)%>" class="panel-collapse collapse" role="tabpanel" 
    		aria-labelledby="heading<%=translate_number(i)%>">
      <div class="panel-body">
          <div class="details table-responsive">
            <table class="table">
            	<tr class="danger">
                <td><b>Envio <%= farm.frecuency_for(@agrofunder) %></b></td>
                <td><b><%= farm.time_to_delivery_for(@agrofunder)%> días para el envío
          					<%= farm.amount_for(@agrofunder)%> Kg, a <%= farm.price %> €/kg</b>
          			</td>
              </tr>

              <tr class="info">
                <td><b>Agricultor:</b></td><td><%=farm.farmer.name %> <%=farm.farmer.surname %></td>
              </tr>

              <tr class="warning">
                <td><b>Comunidad:</b></td><td><%=farm.community %></td>
              </tr>

              <tr class="warning">
                <td><b>Municipio:</b></td><td><%=farm.municipality %></td>
              </tr >

              <tr class="warning">
                <td><b>Region:</b></td><td><%=farm.region %></td>
              </tr>
            </table>
        </div>
      </div>
    </div>

  </div>
  <%end%>
</div>