
		<header>
			<nav class="top">
				<ul class="menu_top">
					<li class="menu_item left" id="logo">
						<%= link_to "Agrofunding", root_path %>
					</li>

					<li class="menu_item left">
						<%= link_to "About", root_path %>
					</li>

					<li class="menu_item left">
						<%= link_to "Como funciona?", root_path %>
					</li>

					<li class="menu_item left">
						<%= link_to "Pruebalo", root_path %>
					</li>

					
					
					<% if current_user %>
						
						<li class="menu_item right" id="user_settings">
							<%= link_to "<span class='glyphicon glyphicon-log-out' aria-hidden='true'> Logout </span>".html_safe, destroy_user_session_path %>
						</li>

						<li class="menu_item right" id="Log">
							<% if current_user.class == Agrofunder %>
								<%= link_to "<span style='color: white' class='glyphicon glyphicon-user' aria-hidden='true'> 
								#{current_user.name}</span>".html_safe, 
								agrofunder_admin_path(current_user.id) %>
							<% elsif current_user.class == Farmer %>
								<%= link_to "<span style='color: white' class='glyphicon glyphicon-user' aria-hidden='true'> 
								#{current_user.name}</span>".html_safe, 
								farmer_admin_path(current_user.id) %>
							<%end%>
						</li>

					<%else%>
						
						<li class="menu_item right" id="user_settings">
							<%= link_to "<span class='glyphicon glyphicon-log-in' aria-hidden='true'> Login </span>".html_safe, new_user_session_path %>
						</li>

					<%end%>

				</ul>
			</nav>
		</header>

		