<!DOCTYPE html>
<html>
<head>
  <title>Agrofunding</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="admin">
	<section class="admin-container">
		<%= render "/shared/menu_top" %>
		<%= render "/shared/title" %>
		<%= yield %>
	</section>
	
</body>
</html>